.portfolio {
  padding: toRem(5) 0 toRem(58);
}

.portfolio__container {
  margin-left: auto;
  margin-right: auto;
  max-width: toRem(950);
}

.portfolio__title {
  margin: 0;
  margin-bottom: toRem(45);
  padding-left: toRem(5);
  font-size: toRem(30);
  font-weight: $fs-medium;
  text-transform: uppercase;
  opacity: 0.9;
  letter-spacing: 1px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: toRem(45);
  padding-left: 0;
  list-style-type: none;
}

.portfolio__item {
  margin-bottom: toRem(45);
  min-width: toRem(200);
  max-width: toRem(200);
  padding-bottom: toRem(10);
  background-color: #fff;
  box-shadow: toRem(12) toRem(9) toRem(41.4) toRem(4.6) rgba(30, 25, 41, 0.14);
  transition: box-shadow 0.3s linear;

  &:hover {
      box-shadow: toRem(3) toRem(6) toRem(41.4) toRem(4.6) rgba(30, 25, 41, 0.35);
  }

}

.product__link {
  display: block;
}

.product__title {
  margin: toRem(10) toRem(12);
  padding-bottom: toRem(10);
  font-size: toRem(15);
  font-weight: $fs-medium;
  border-bottom: 1px solid #bbbabe;
}

.product__txt {
  margin: 0 toRem(12) 0;
  margin-bottom: toRem(25);
  font-size: toRem(13.7);
  font-weight: $fs-light;
}

.product__date {
  margin: 0 toRem(12) 0;
  color: rgba($color-main, 0.5);
  font-size: toRem(12);
}

.portfolio__btn {
  text-align: center;
}
