.social__list {
  margin-top: toRem(30);
  padding-left: 0;
  list-style-type: none;
  font-size: 0;
}

.social__item {
  display: inline-block;
  margin-right: toRem(30);
  font-size: toRem(16);
  vertical-align: bottom;
}
.social__link {
  display: block;
}
